@{
    /*ViewData["Title"] = "Home Page";*/
    ViewBag.Title = "Index";
    var ListaProductos = ViewBag.ListaProductos;
}

<h2>Lista de Productos</h2>

<a href="@Url.Action("Agregar")">Agregar</a>

<hr />

<div class="container">

    <div class="row">

        @foreach(var p in ListaProductos)
        {
            <div class="col-lg-4">

               <div class="panel panel-default">
                   <div class="panel-heading">@p.Nombre</div>
                   <div class="panel-body">
                       <img class="img-responsive" src="@p.Imagen"/>

                       <p>@p.Descripcion</p>
                       <p>$ @p.Precio</p>
                   </div>
                </div>

            </div>
        }
        
    </div>
</div>